.phani{
    text-align: center;
    color: black;
    background-image: url("https://bd.gaadicdn.com/upload/userfiles/images/614af7f35edea.jpg?impolicy=resize&imwidth=420");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.hari{
    color: blue;
}